.holis{
    background-color: #212529;
    .titulocontacto{
        text-align: center;
        font-family:  'Alegreya SC', serif;
        font-size: 2rem;
        margin: 40px;
        font-weight: normal;
      }.textocontacto1{
        margin: 30px;
        text-align: center;
        font-family: 'IM Fell English SC', serif;
        line-height: 25px;
      }
      .formcontacto{
        text-align: center;
        
        
      }legend{
        font-size: 2rem;
        
      }.contenedorcontacto{
        background-color: #212529;
        display: inline-flex;
    
    
    }

}